.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    margin-top: 64px;
}

.logo {
    font-family: "Myriad Pro", serif;
    font-size: 80px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.logo span {
    color: #4BCAFF;
}

.container .navigation-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 24px;
    background-color: #35444F;
}

.header .navigation-link {
    font-family: Roboto, serif;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.7s, background-color 0.7s;
}

.header .navigation-link:hover {
    padding: 24px;
    color: #222F3A;
    background-color: #DBDBDB;
}

.main-container {
    display: flex;
    justify-content: space-between;
    font-family: Roboto, serif;
}

.aside-menu {
    max-width: 344px;
    height: 400px;
    width: 100%;
    border: 1px solid #000000;
    margin-right: 52px;
    padding-top: 26px;
    padding-left: 42px;
}

.aside-menu .aside-link {
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-family: Roboto, serif;
    font-size: 27px;
    line-height: 2;
}

.aside-menu .aside-list {
    text-decoration: none;
    color: #485863;
    transition: color 0.7s, background-color 0.7s;
}

.aside-menu .aside-list:hover {
    padding: 26px 52px;
    color: #222F3A;
    background-color: #DBDBDB;

}

.main-content{
    max-width: 886px;
    width: 100%;
}

.main-banner img {
    width: 320px;
    height: 380px;
    margin-bottom: 34px;
    padding: 75px 268px;
    border: 1px solid #000000;
    object-fit: contain;
    object-position: center;
    background-color: #FFFFFF;
}

.main-banner p{
    margin-bottom: 34px;
    font-family: Roboto, serif;
    font-size: 18px;
    line-height: 1.2;
    color: #2C2C2C;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #63696E7A;
    font-family: Roboto, serif;
}

.footer-menu-link {
    width: 876px;
    display: flex;
    justify-content: space-between;
}

.footer-menu-list {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-menu p {
    width: 190px;
    font-size: 24px;
    text-align: left;
}

.footer-menu .footer-menu-list:hover {
    color: #3181A6;
    text-decoration-line: underline;
    transition: color 0.5s;
}